body {
    text-align: center;
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    position: absolute;
    width: 100vw;
    max-height: calc(100vh - 275px);
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
    margin-top: 80px;
}

.notes {
    margin-top: 20px;
    font-size: 1.1em;
}

.controls-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

select, input {
    background: var(--bg-light);
    color: var(--text-white);
    border: 1px solid var(--text-white);
    padding: 8px;
    border-radius: 4px;
}

input[type="text"] {
    border: 1px solid var(--text-white);
}

input[type="number"] {
    border: 1px solid var(--text-white);
    width: 50px;
}

.card:has(table) {
    height: 25%;
    overflow-x: auto; /* Allow horizontal scroll on very small screens */
    display: flex;
    justify-content: center;
    padding: 10px;
    /* aspect-ratio: 4/3; */
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    max-width: 800px;
}

tbody {
    height: 50%;
}

td, th {
    border: 1px solid var(--text-white);
    padding: 10px 15px;
    font-size: 0.9rem;
    white-space: nowrap;
}

#checkbox-container {
    padding: 10px;
    background: var(--bg-light);
    border: 1px solid var(--text-white);
    border-radius: 8px;
    display: inline-block;
    /* margin-bottom: 10px; */
}

.note-check {
    margin-right: 10px;
    accent-color: var(--accent-blue);
}

footer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: var(--bg-dark); */
    align-items: center;
    /* margin-top: -10px;
    border: 1px solid var(--text-white);
    padding: 5px; */
    gap: 10px;
    /* border-radius: 5px;
    width: 100%;
    z-index: 10;
    transition: width 0.3s ease; */
}

#grid {
    height: 60%;
    aspect-ratio: 3/1;
}